.footer {
    text-align: center;
    padding: 3rem 0;
   &__grid {
       @include mediaQuery {
        flex-direction: column;
       }
    
   }
    a.logo {
        font-size: clamp(2rem, 6vw, 3rem);
        font-family: $font-secondary;
        text-transform: uppercase;
    }
    ul {
        margin: 2rem 0;
        li a {
            font-weight: 400;
            @include mediaQuery {
                font-size: 1.2rem;

               }
        }
    }
    .copyright {
        padding: 1rem 0;
        border-top: 1px solid $clr-border;
        border-bottom: 1px solid $clr-border;
        p {
            font-size: 1.2rem;
            margin-bottom: 0;
            
        }

    }
}