@mixin centerAll() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid($cols, $gap) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-gap: ($gap);
}

@mixin mediaQuery($width: 48rem) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin imgFit($width: 300px, $height: 300px) {
  width: $width;
  height: $height;
  object-fit: cover;
  object-position: center center;
}

@mixin btn($bgcolor) {
  padding: 0.3rem 6rem;
  border-radius: 4rem;
  color: $clr-light;
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
  background: $bgcolor;
  border: 1px solid $bgcolor;
  &:hover {
    background: $bgcolor;
    color: $clr-light;
  }
}

@mixin psuedo($top:0, $left:0) {
  content: '';
  position: absolute;
  left: $left;
  top: $top;
}


@mixin pageHeader ($clamp:$header-size){
      font-family: $font-secondary;
      margin-bottom: 3rem;
      font-size: $clamp;
}